{% extends 'course/base.html' %}}

{% block content %}
    <h1 style="text-align: center;"> Филиалы</h1>
    <h1>Создать новый филиал</h1>
    {% if user.is_authenticated %}
    <a href = "{% url 'branches_create'%}" class = 'btn btn-primary'>Create/Создать</a>
    <a href="{% url 'group_random' %}" class="btn btn-primary">Выбрать рандомный филиал</a>
    {% endif %}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Название</th>
            <th scope="col">Адрес</th>
            <th scope="col">Действие</th>
            <th scope="col">Фото</th>
          </tr>
        </thead>
        <tbody>
        {% for branch in branches %}
          <tr>
            <th scope="row">{{ branch.id }}</th>
            <td>{{branch.name}}</td>
            <td>{{branch.address}}</td>
            <td>{{branch.photo}}</td>
            
            <td>
                <a href="{% url 'branch_details' branch.id %}" class = 'btn-primary btn-sm'>Подробнее</a>
                {% if user.is_authenticated %}
                <a href="{% url 'branch_delete' branch.id %}" class = 'btn-primary btn-sm'>Удалить</a>
                {% endif %}
            </td>
          </tr>
        {% endfor %}
        
        </tbody>
      </table>

{% endblock %}