{% extends 'course/base.html' %}}

{% block content %}
    <h1 style="text-align: center;"> Курсы</h1>
    <h1>Создать новый курс</h1>
    {% if user.is_authenticated %}
    <a href = "{% url 'course_create'%}" class = 'btn btn-primary'>Create/Создать</a>
    <a href="{% url 'course_random' %}" class="btn btn-primary">Выбрать рандомный курс</a>
    {% endif %}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Название</th>
          </tr>
        </thead>
        <tbody>
        {% for c in courses %}
          <tr>
            <th scope="row">{{ c.id }}</th>
            <td>{{c.name}}</td>
            
            <td>
                <a href="{% url 'course_details' c.id %}" class = 'btn-primary btn-sm'>Подробнее</a>
                {% if user.is_authenticated %}
                <a href="{% url 'course_delete' c.id %}" class = 'btn-primary btn-sm'>Удалить</a>
                {% endif %}
            </td>
          </tr>
        {% endfor %}
        
        </tbody>
      </table>

{% endblock %}