{% extends 'course/base.html' %}

{% block content %}
    <h1>{{ group.name }}</h1>
    <h3>Создал: {{group.creator}}</h3>
    <p>Филиал: <strong>{{group.branch}}</strong> </p>
    <h1>Студенты:<h1>
    <ul>
    {% if students %}
        {%for student in students %}
        <li>
            {{student.name}}
        </li>
    {% endfor%}
    {% else %}
        <h1>Не найдены студенты</h1>
    {% endif %}
    {% if user.is_authenticated %}
    <a href = "{% url 'group_edit' group.id %}" class = 'btn btn-primary'>Change/Изменить</a>
    {% endif %}

    {% if group.photo %}
        
        <img src="{{ group.photo.url }}" width="300" />

    {% endif%}
    


{% endblock %}

