{% extends 'course/base.html' %}

{% block content %}
    <h1 style="text-align: center;"> Группы </h1>
    <h1>Создать новую группу</h1>
    <a href = "{% url 'groups_create' %}" class = 'btn btn-primary'>Create/Создать</a>
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Branch</th>
      <th>group</th>
    </tr>

    {% for group in groups %}
    <tr>
      <td>{{ group.name }}</td>
      <td>{{ group.branch }}</td>
      <td><a href="{% url 'group_details' group.id %}">подробнее</a></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}