{% extends 'course/base.html' %}

{% block content %}

{% if student.gender == "female" %}
    <h1 style="color: pink;"> {{ student.name }}</h1>

    {% else %}
    <h1 style="color: blue;"> {{ student.name }}</h1>
    
    
    {% endif %}
    <h3>Создал: {{student.creator}}</h3>

    <p> Адрес: <strong> {{student.address}} </strong> </p>
    <p> Пол: <strong> {{student.gender}} </strong> </p>
    <p>Дата рождения: <strong> {{student.date_of_birth}} </strong> </p>
    <p>Группа :<strong> {{student.group}} </strong> </p>
    {% if user.is_authenticated %}
    <a href = "{% url 'student_edit' student.id %}" class = 'btn btn-primary'>Change/Изменить</a>
    {% endif %}
    {% if student.photo %}
        
        <img src="{{ student.photo.url }}" width="300" />

    {% endif%}

{% endblock %}
