{% extends 'course/base.html' %}

{% block content %}
    <h1 style="text-align: center;"> Студенты </h1>
    <h1>Создать нового студента</h1>
    <a href = "{% url 'students_create' %}" class = 'btn btn-primary'>Create/Создать</a>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Имя</th>

          </tr>
        </thead>
        <tbody>
        {% for student in students %}
        {% if student.gender == 'male' %}
        <tr style="background-color: blue;">
        {% else %}
        <tr style="background-color: pink;">
        {% endif %}
            <th scope="row">{{ student.id }}</th>
            <td>{{student.name}}</td>

            <td>
                <a href="{% url 'student_details' student.id %}" class = 'btn-primary btn-sm'>Подробнее</a>
            </td>
          </tr>
        {% endfor %}
        
        </tbody>
      </table>

{% endblock %}